<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your precise location is used to show your location on the map, get directions, estimate travel times, and improve search results.</string>
	<key>API_KEY</key>
	<string>AIzaSyDbBHX2V0-mIeKqcbfL9y_Bm25GlGCAXzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>174766852509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AdelynnWu.CommuniCare</string>
	<key>PROJECT_ID</key>
	<string>clinics-app-cb3df</string>
	<key>STORAGE_BUCKET</key>
	<string>clinics-app-cb3df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:174766852509:ios:e60c7dc67865c3be114774</string>
</dict>
</plist>
